body { padding-top: 100px; }
footer { margin-top: 100px; }
table, td, th { vertical-align: middle; height: 20px; padding: 10px; border: 1px solid black; }
th { border-bottom: 1px solid #DDD; }
td { max-width: 150px; min-width: 100px; }

h1 { color: grey; }

